GameApp/README.txt
GameApp/proj.win32/Debug.win32
GameApp/proj.win32/GameApp.VC.db
GameApp/proj.android/obj
GameApp/proj.android-studio/build
GameApp/proj.android-studio/jni
GameApp/proj.android-studio/libs
GameApp/proj.android-studio/obj
GameApp/cocos2d
GameApp/proj.win32/GameApp.sdf
GameApp/proj.win32/GameApp.VC.opendb